<section class="cdmc">
  <header class="cdmc_header">
    <h1>QTME</h1>
    <p>¿QUE TAN MAL ESTAMOS?</p>
  </header>
  <div *ngIf="!showData" class="cdmc_fun">
    <button (click)="theJoke()" class="cdmc_fun_button">Veamos</button>
    <span class="cdmc_fun_text" *ngIf="currentSpan === 1">¿Estas seguro?</span>
    <span class="cdmc_fun_text" *ngIf="currentSpan === 2"
      >No es buena idea ...</span
    >
    <span class="cdmc_fun_text" *ngIf="currentSpan === 3"
      >No digas que no te lo adverti</span
    >
  </div>
  <div *ngIf="showData" class="cdmc_data">
    <div class="cdmc_data_container">
      <h2 class="cdmc_data_container_header">Dolar Oficial</h2>
      <p class="cdmc_data_container_text">
        Compra:
        <span class="cdmc_data_container_price">{{
          data.oficial.value_buy
        }}</span>
      </p>
      <p class="cdmc_data_container_text">
        Venta:
        <span class="cdmc_data_container_price">{{
          data.oficial.value_sell
        }}</span>
      </p>
    </div>
    <div class="cdmc_data_container">
      <h2 class="cdmc_data_container_header">Dolar Blue</h2>
      <p class="cdmc_data_container_text">
        Compra:
        <span class="cdmc_data_container_price">{{ data.blue.value_buy }}</span>
      </p>
      <p class="cdmc_data_container_text">
        Venta:
        <span class="cdmc_data_container_price">{{
          data.blue.value_sell
        }}</span>
      </p>
    </div>
    <div class="cdmc_data_container">
      <h2 class="cdmc_data_container_header">Euro Oficial</h2>
      <p class="cdmc_data_container_text">
        Compra:
        <span class="cdmc_data_container_price">{{
          data.oficial_euro.value_buy
        }}</span>
      </p>
      <p class="cdmc_data_container_text">
        Venta:
        <span class="cdmc_data_container_price">{{
          data.oficial_euro.value_sell
        }}</span>
      </p>
    </div>
    <div class="cdmc_data_container">
      <h2 class="cdmc_data_container_header">Euro Blue</h2>
      <p class="cdmc_data_container_text">
        Compra:
        <span class="cdmc_data_container_price">{{
          data.blue_euro.value_buy
        }}</span>
      </p>
      <p class="cdmc_data_container_text">
        Venta:
        <span class="cdmc_data_container_price">{{
          data.blue_euro.value_sell
        }}</span>
      </p>
    </div>
  </div>
</section>
